<!-- Main Content Area -->
<div class="pt-8 pl-2 pr-2 w-auto">
	<h1 class="text-xl font-bold text-center mb-6 font-[Handel_Gothic] tracking-[0.3em] border-t-1 border-b-1 border-white bg-gradient-to-r from-black via-blue-900 to-black">Messages</h1>

	<div class="mt-8 border-1 border-white rounded-t-2xl bg-gradient-to-r from-black via-blue-900 to-black">
		&nbsp;
	</div>
	<div class="border-1 border-white rounded-b-2xl bg-blue-950 text-center text-xs">
		<p class="mb-4 pl-4 pr-4 font-bold">Send a communication</p>
		<div class="pl-4 pr-4 flex">
			<div class="w-50"></div>
			<div class="text-left w-12">To</div>
			<div class="text-left">
				<input class="bg-black border-1 border-[#ADC1E2] w-8 text-center" type="text"></input>
				<input class="bg-black border-1 border-[#ADC1E2] w-8 text-center" type="text"></input>
				<input class="bg-black border-1 border-[#ADC1E2] w-8 text-center" type="text"></input>
			</div>
		</div>
		<div class="pl-4 pr-4 flex">
			<div class="w-50"></div>
			<div class="text-left w-12">Subject</div>
			<div class="text-center">
				<input class="bg-black border-1 border-[#ADC1E2] w-48 text-center" type="text"></input>
			</div>
		</div>
		<div>
			<textarea class="bg-black border-1 border-[#ADC1E2]" cols="70" rows="7" wrap="virtual"></textarea>
		</div>
		<button class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-xs text-[11px] me-2 mb-4 border-1 border-white px-1 py-1">Send</button>
		<button class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-xs text-[11px] me-2 mb-8 border-1 border-white px-1 py-1">Reset</button>
	</div>

	<div class="mt-4 border-1 border-white rounded-t-2xl bg-gradient-to-r from-black via-blue-900 to-black">
		&nbsp;
	</div>
	<div class="border-1 border-white rounded-b-2xl bg-blue-950 text-center text-xs">
		<p class="mb-4 pl-4 pr-4 font-bold">Incoming communications</p>
		<p class="pl-4 pr-4 text-right float-right">27/08/2003, 17:32:15</p>
		<p class="pl-4 pr-4 text-left">From: Planetia team (7:4:5), Admin's</p>
		<p class="mb-4 pl-4 pr-4 text-left"><span class="font-bold">Subject:</span> welcome. </p>
		<p class="mb-4 pl-4 pr-4 text-left">This message was sent to the entire galaxy<br />
<br />
Well, this page pretty much explains itself. Send messages to your galmates, friends or enemies and read their replies...<br />
Messages are an important part of the gameplay. You can use it to have conversations with other people, like your galmates, tell your attacker he has no chance to survive and so on...<br />
If you dont want to receive the mails of a certain person anymore, you can block them by clicking the "Block Sender" button beneath the message.<br />
Planetia does NOT tolerate any abusive/racist or otherwise insulting mails. If you receive such a mail, please report it using the "Report Message" button. We will take steps to insure that the ruler of that planet will not do it again.<br />
<br />
Do NOT send abusive mails, it WILL get u deleted and banned from the game.</p>
		<p class="mb-4">
			<a class="hover:text-cyan-300 hover:[text-decoration:underline_overline]" href="#">Reply to Message<a/> | <a class="hover:text-cyan-300 hover:[text-decoration:underline_overline]" href="#">Forward Message<a/> | <a class="hover:text-cyan-300 hover:[text-decoration:underline_overline]" href="#">Delete Message<a/> | <a class="hover:text-cyan-300 hover:[text-decoration:underline_overline]" href="#">Report Message<a/> | <a class="hover:text-cyan-300 hover:[text-decoration:underline_overline]" href="#">Block Sender<a/>
		</p>
		<button class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-xs text-[11px] me-2 mb-4 border-1 border-white px-1 py-1">Hide All News</button><br />
		<button class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-xs text-[11px] me-2 mb-8 border-1 border-white px-1 py-1">View your blocked list</button>
	</div>
</div>