<!-- Main Content Area -->
<div class="pt-8 pl-2 pr-2 w-auto">
	<h1 class="text-xl font-bold text-center mb-6 font-[Handel_Gothic] tracking-[0.3em] border-t-1 border-b-1 border-white bg-gradient-to-r from-black via-blue-900 to-black">Construction</h1>

	<div class="mt-8 border-1 border-white rounded-t-2xl bg-gradient-to-r from-black via-blue-900 to-black">
		&nbsp;
	</div>
	<div class="border-1 border-white rounded-b-2xl bg-blue-950 text-center text-xs">
		<p class="mb-4 pl-4 pr-4">You are currently constructing <span class="font-bold">Titanium Mine</span> and it will finish on tick 8<br />
<span class="font-bold">Cancel</span></p>
{# Cancel button should be actual button? Manual has it as text/link #}
	</div>

	<div class="mt-8 border-1 border-white rounded-t-2xl bg-gradient-to-r from-black via-blue-900 to-black">
		&nbsp;
	</div>
	<div class="border-1 border-white rounded-b-2xl bg-blue-950 text-center text-xs">
		<p class="mb-4 pl-4 pr-4 font-bold">Construction</p>

		<div class="mb-4 pl-4 pr-4 ">
			<table class="table-auto w-full text-left border-separate border-spacing-x-2">
				<thead>
					<tr class="text-center">
						<th>Name</th>
						<th>Description</th>
						<th>Ticks</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="text-center">Titanium Mine</td>
						<td>Extracts 1500 Titanium a tick<br />
							<span class="font-bold">Cost: 1000 Titanium, 1000 Silicon</span></td>
						<td class="text-right">8</td>
						<td class="text-center text-yellow-300">Building (8 ticks)</td>
					</tr>
					<tr>
						<td class="text-center">Constructs all The Sector Defence Systems (SDS)</td>
						<td>Begins the development of Uranium engines<br />
							<span class="font-bold">Cost: 1750 Titanium, 750 Silicon</span></td>
						<td class="text-right">8</td>
						<td class="text-center text-red-700">Other building in progress</td>
					</tr>
					<tr>
						<td class="text-center">Shipyard</td>
						<td>Constructs every vessel in the fleet<br />
							<span class="font-bold">Cost: 1250 Titanium, 1250 Silicon</span></td>
						<td class="text-right">8</td>
						<td class="text-center text-red-700">Other building in progress</td>
					</tr>
				</tbody>
			</table>
		</div>

		<p class="mb-4 pl-4 pr-4 text-left">Buildings are a very important part of he game. The things you build here will enable you to build different kinds of ships, sds, mines and so on. In general, a good project to start with are the mines. They will get you a steady flow of cash, that can be used to create ships, sds or other buildings. The more advanced your planet gets, the longer it will take to construct a building. Check out the techtree to see what a certain construction enables and what you need to do before you can construct it...</p>
	</div>


</div>