<!-- Main Content Area -->
<div class="pt-8 pl-2 pr-2 w-auto">
	<h1 class="text-xl font-bold text-center mb-6 font-[Handel_Gothic] tracking-[0.3em] border-t-1 border-b-1 border-white bg-gradient-to-r from-black via-blue-900 to-black">Galaxy Status</h1>

	<div class="mt-8 border-1 border-white rounded-t-2xl bg-gradient-to-r from-black via-blue-900 to-black">
		&nbsp;
	</div>
	<div class="border-1 border-white rounded-b-2xl bg-blue-950 text-center text-xs">
		<p class="mb-4 pl-4 pr-4 font-bold">Incoming</p>
		<table class="table-auto w-full mb-4">
			<thead>
				<tr>
					<th>Coordinates</th>
					<th>Planet</th>
					<th>Eta</th>
					<th>Size <span class="text-red-500">H</span>/<span class="text-green-500">F</span></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<p class="mb-4 pl-4 pr-4 text-left">On this page you will be able to see if a galmate has incomings and if he or she has gotten defence. Check if he or she is online and send a mail offering assistance (or ask him on IRC). If you know what alliance he or she is, ask his alliance to defend him. Don't think "hey, it isn't me, who cares". You help him out today, he may save your ass tomorrow. Galaxies are your family, treat them with respect.</p>
	</div>

	<div class="mt-8 border-1 border-white rounded-t-2xl bg-gradient-to-r from-black via-blue-900 to-black">
		&nbsp;
	</div>
	<div class="border-1 border-white rounded-b-2xl bg-blue-950 text-center text-xs">
		<p class="mb-4 pl-4 pr-4 font-bold">Outgoing</p>
		<table class="table-auto w-full mb-4">
			<thead>
				<tr>
					<th>Coordinates</th>
					<th>Planet</th>
					<th>Eta</th>
					<th>Size <span class="text-red-500">H</span>/<span class="text-green-500">F</span></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<p class="mb-4 pl-4 pr-4 text-left">Ofcourse you can also see where the fleets of your galaxy are going to. Do you see a planet in your galaxy defending another? Chances are that planet needs more defence. Send a mail to your galmate and ask him if you should help. The planet you are going to defend will return the favor one day... Is a planet in your galaxy attacking another planet and you want to join in? Send a mail to your galmate and ask if you can tag along or can help out by attacking another planet in the enemy galaxy. Orbitals are always very useful...</p>
	</div>
</div>