<!-- Main Content Area -->
<div class="p-8 pl-4 pr-4 w-auto ">
		<h1 class="text-xl font-bold text-center mb-6 font-[Handel_Gothic] tracking-[0.3em] border-t-1 border-b-1 border-white bg-gradient-to-r from-black via-blue-900 to-black">Overview</h1>

	<div class="mt-8 border-1 border-white rounded-t-2xl bg-gradient-to-r from-black via-blue-900 to-black">
		&nbsp;
	</div>
	<div class="border-1 border-white rounded-b-2xl bg-blue-950 text-center text-xs">
		<p class="mb-4 pl-4 pr-4 font-bold">System information for 1:1:2</p>
		<p class="mb-4 pl-4 pr-4">Here you will find important information, like your galaxies PIN code.</p>
	</div>

	<div class="mt-4 border-1 border-white rounded-t-2xl bg-gradient-to-r from-black via-blue-900 to-black">
		&nbsp;
	</div>
	<div class="border-1 border-white rounded-b-2xl bg-blue-950 text-center text-xs">
		<p class="mb-4 pl-4 pr-4 font-bold">Message of the day</p>
		<p class="mb-4 pl-4 pr-4 text-left ">Here will you find important announcements from the Planetia team or other information that we think you should know.</p>
		<hr class="mx-4" />
		<p class="mb-4 pl-4 pr-4 font-bold">Message from your commander</p>
		<p class="mb-4 pl-4 pr-4 text-left ">Your GC and ministers are able to place their own text here. Make sure you vote for the commander of your choice in the affairs screen!</p>
	</div>

	<div class="mt-4 border-1 border-white rounded-t-2xl bg-gradient-to-r from-black via-blue-900 to-black">
		&nbsp;
	</div>
	<div class="border-1 border-white rounded-b-2xl bg-blue-950 text-center text-xs">
		<p class="mb-4 pl-4 pr-4 font-bold">Military Status</p>
		<p class="mb-4 pl-4 pr-4 text-left ">Do you have incomings?<br />
		Are you getting defence? Wondering where your fleets are?<br />
		Here you can find the answer!</p>
	</div>

	<div class="mt-4 border-1 border-white rounded-t-2xl bg-gradient-to-r from-black via-blue-900 to-black">
		&nbsp;
	</div>
	<div class="border-1 border-white rounded-b-2xl bg-blue-950 text-center text-xs">
		<p class="mb-4 pl-4 pr-4 font-bold">Building / Research</p>
		<p class="mb-4 pl-4 pr-4">Here can you see how long it takes before your current research and construction are completed.</p>
	</div>

	<div class="mt-4 border-1 border-white rounded-t-2xl bg-gradient-to-r from-black via-blue-900 to-black">
		&nbsp;
	</div>
	<div class="border-1 border-white rounded-b-2xl bg-blue-950 text-center text-xs">
		<p class="pl-4 pr-4 font-bold">Units (0 units total)</p>
		<p class="mb-4 pl-4 pr-4 font-bold">Here you can see how many ships and of what class you have.</p>
		<p class="pl-4 pr-4 font-bold">SDS (0 units total)</p>
		<p class="mb-8 pl-4 pr-4 font-bold">Here you can see how many SDS and of what class you have.</p>
	</div>

	<div class="mt-4 border-1 border-white rounded-t-2xl bg-gradient-to-r from-black via-blue-900 to-black">
		&nbsp;
	</div>
	<div class="border-1 border-white rounded-b-2xl bg-blue-950 text-center text-xs">
		<p class="mb-4 pl-4 pr-4 font-bold">Orbitals: (6 total)</p>
		<div class="mb-4 pl-4 pr-4 grid grid-cols-4 grid-rows-2 gap-2">		
			<div class="text-left">Titanium Orbitals</div>
			<div class="text-right pr-8">0</div>
			<div class="text-left">Silicon Orbitals</div>
			<div class="text-right pr-8">0</div>
			<div class="text-left">Uranium Orbitals</div>
			<div class="text-right pr-8">0</div>
			<div class="text-left">Unused Orbitals</div>
			<div class="text-right pr-8">6</div>
		</div>
		<p class="mb-4 pl-4 pr-4 text-left">Here you can see how many Orbitals you have. The more Orbitals you have, the more you earn in one tick and the faster you grow. If you have too much of them, you become an attractive target though...</p>
	</div>
</div>