<!-- Main Content Area -->
<div class="pt-8 pl-2 pr-2 w-auto">
	<h1 class="text-xl font-bold text-center mb-6 font-[Handel_Gothic] tracking-[0.3em] border-t-1 border-b-1 border-white bg-gradient-to-r from-black via-blue-900 to-black">Politics</h1>

	<div class="mt-8 border-1 border-white rounded-t-2xl bg-gradient-to-r from-black via-blue-900 to-black">
		&nbsp;
	</div>
	<div class="border-1 border-white rounded-b-2xl bg-blue-950 text-center text-xs">
		<p class="mb-4 pl-4 pr-4 font-bold">Politics</p>

		<div class="mb-4 pl-4 pr-4 ">
			<table class="table-auto w-full text-left">
				<thead>
					<tr>
						<th>Topic</th>
						<th>Created By</th>
						<th>Replies</th>
						<th>Created on</th>
						<th>Last Post</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>How long in protection ?</td>
						<td>Player (10:11:4)</td>
						<td>6</td>
						<td>12:48 17/08/2003</td>
						<td>28/08/2003 23:56</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="font-bold text-gray-300">Subject</div>
		<div>
			<input class="bg-black border-1 border-[#ADC1E2] w-128 text-center" type="text"></input>
		</div>
		<div class="font-bold text-gray-300">Content</div>
		<div>
			<textarea class="bg-black border-1 border-[#ADC1E2] w-128" cols="70" rows="7" wrap="virtual"></textarea>
		</div>
		<button class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-xs text-[11px] me-2 mb-8 border-1 border-white px-1 py-1">Submit</button>
		<p class="mb-4 pl-4 pr-4">There are two kinds of politics: Universe politics can be read by everyone, whilst the normal politics can be read only by your galaxy. In short, use politics as a way to gather opinions and impressions and to communicate inside your galaxy.<br />
If you are active and read up, politics may very well save your planet one day...</p>
	</div>


</div>