<!-- Main Content Area -->
<div class="pt-8 pl-2 pr-2 w-auto">
	<h1 class="text-xl font-bold text-center mb-6 font-[Handel_Gothic] tracking-[0.3em] border-t-1 border-b-1 border-white bg-gradient-to-r from-black via-blue-900 to-black">Research</h1>

	<div class="mt-8 border-1 border-white rounded-t-2xl bg-gradient-to-r from-black via-blue-900 to-black">
		&nbsp;
	</div>
	<div class="border-1 border-white rounded-b-2xl bg-blue-950 text-center text-xs">
		<p class="mb-4 pl-4 pr-4">You are currently researching <span class="font-bold">Advanced Scanning Abilities</span> and it will finish on tick 8<br />
<span class="font-bold">Cancel</span></p>
{# Cancel button should be actual button? Manual has it as text/link #}
	</div>

	<div class="mt-8 border-1 border-white rounded-t-2xl bg-gradient-to-r from-black via-blue-900 to-black">
		&nbsp;
	</div>
	<div class="border-1 border-white rounded-b-2xl bg-blue-950 text-center text-xs">
		<p class="mb-4 pl-4 pr-4 font-bold">Research</p>

		<div class="mb-4 pl-4 pr-4 ">
			<table class="table-auto w-full text-left border-separate border-spacing-x-2">
				<thead>
					<tr class="text-center">
						<th>Name</th>
						<th>Description</th>
						<th>Ticks</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="text-center">Advanced Scanning Abilities</td>
						<td>Develops the ability to scan into deeper space<br />
							<span class="font-bold">Cost: 750 Titanium, 1750 Silicon</span></td>
						<td class="text-right">8</td>
						<td class="text-center text-yellow-300">Complete in 8 ticks</td>
					</tr>
					<tr>
						<td class="text-center">Uranium Enhanced Engines</td>
						<td>Begins the development of Uranium engines<br />
							<span class="font-bold">Cost: 1250 Titanium, 1250 Silicon</span></td>
						<td class="text-right">8</td>
						<td class="text-center text-red-700">Other research in progress</td>
					</tr>
				</tbody>
			</table>
		</div>

		<p class="mb-4 pl-4 pr-4 text-left">This page is very important to your planets development. Here you are able to research different kinds of technologies. After you completed a research, you will be able to construct the building that enables the technology for your planet. In general, developing travel technology and defense, in the form of ships and sds, are the most important branches if you want to make yourself famous in Planetia... Make sure you check out the techtree to see what each research enables...</p>
	</div>


</div>