{# Content box #}
<div class="mt-8 border-1 border-white rounded-t-2xl bg-gradient-to-r from-black via-blue-900 to-black">
	&nbsp;
</div>
<div class="border-1 border-white rounded-b-2xl bg-blue-950 text-center text-xs">
	<p class="mb-4 pl-4 pr-4 font-bold">Title here</p>
</div>

{# Example #}
<div class="mt-8 border-1 border-white rounded-t-2xl bg-gradient-to-r from-black via-blue-900 to-black">
	&nbsp;
</div>
<div class="border-1 border-white rounded-b-2xl bg-blue-950 text-center text-xs">
	<p class="mb-4 pl-4 pr-4 font-bold">Title here</p>
	<table class="table-auto w-full mb-4">
		<thead>
			<tr>
				<th>Coordinates</th>
				<th>Planet</th>
				<th>Eta</th>
				<th>Size <span class="text-red-500">H</span>/<span class="text-green-500">F</span></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<p class="mb-4 pl-4 pr-4 text-left">Ofcourse you can also see where the fleets of your galaxy are going to. Do you see a planet in your galaxy defending another? Chances are that planet needs more defence. Send a mail to your galmate and ask him if you should help. The planet you are going to defend will return the favor one day... Is a planet in your galaxy attacking another planet and you want to join in? Send a mail to your galmate and ask if you can tag along or can help out by attacking another planet in the enemy galaxy. Orbitals are always very useful...</p>
</div>