<!-- Header -->
<div class="p-2">
	<div class="text-xs bg-gradient-to-r from-black via-blue-900 to-blue-900 pb-2 border-r-1 border-t-1 border-white">
		<div class="float-right font-bold pr-2">Ruler of This Planet (Race)</div>
		<div class="font-semibold">Score: 0</div>
	</div>

	<div class="flex mt-12 text-xs">
		<div class="w-80 flex-none"></div>
		<div class="w-24 flex-none border-1 border-white text-center bg-blue-900 font-[Handel_Gothic] tracking-[0.4em]">
			<a href="game?page=communication">Mail</a>
		</div>
		<div class="w-16 flex-none"></div>
		<div class="w-24 flex-none border-1 border-white text-center bg-blue-900 font-[Handel_Gothic] tracking-[0.4em]">
			<a href="game?page=news">News</a>
		</div>
		<div class="w-10 flex-none"></div>
	</div>

	<div class="flex text-xs bg-gradient-to-r from-black via-blue-900 to-blue-900 pt-1 pb-1 border-r-1 border-t-1 border-b-1 border-white rounded-br-xl">
		<div class="w-70 flex-none text-[10px]">29/08/03 13:37:04(PT 1233)<br />Last tick: N/A</div>
		<div class="w-30 flex-none text-center">
			<span class="font-[Handel_Gothic] tracking-[0.4em] text-yellow-100 text-shadow-lg text-shadow-black">Titanium</span><br />
			<span class="text-[10px]">4,650</span>
		</div>
		<div class="w-30 flex-none text-center">
			<span class="font-[Handel_Gothic] tracking-[0.4em] text-yellow-100 text-shadow-lg text-shadow-black">Silicon</span><br />
			<span class="text-[10px]">7,250</span>
		</div>
		<div class="w-30 flex-none text-center">
			<span class="font-[Handel_Gothic] tracking-[0.4em] text-yellow-100 text-shadow-lg text-shadow-black">Uranium</span><br />
			<span class="text-[10px]">10,000</span>
		</div>
	</div>

	<div class="flex text-xs">
		<div class="w-80 flex-none"></div>
		<div class="w-24 flex-none border-1 border-white text-center bg-blue-900 font-[Handel_Gothic] tracking-[0.4em]">
			<a href="game?page=galaxynews">Enemies</a> {# bg-red if under attack #}
		</div>
		<div class="w-16 flex-none"></div>
		<div class="w-24 flex-none border-1 border-white text-center bg-blue-900 font-[Handel_Gothic] tracking-[0.4em]">
			<a href="game?page=galaxynews">Allies</a> {# bg-green if incoming friendly #}
		</div>
		<div class="w-10 flex-none"></div>
	</div>
</div>