<!-- Left Sidebar Menu -->
<div class="w-[150px] flex-none bg-center text-[#b4bcc7] shadow-lg bg-gradient-to-t from-black via-blue-900 to-black">
	<div class="p-4 text-right">
		<nav>
			<a href="game?page=overview" class="block rounded-md text-xs font-black hover-shadow hover:bg-gradient-to-t hover:from-black hover:to-yellow-200 hover:bg-clip-text hover:text-transparent font-[Handel_Gothic]">
				Overview
			</a>
			<a href="game?page=news" class="block rounded-md text-xs font-black hover-shadow hover:bg-gradient-to-t hover:from-black hover:to-yellow-200 hover:bg-clip-text hover:text-transparent font-[Handel_Gothic]">
				Private News
			</a>
			<a href="game?page=galaxynews" class="block rounded-md text-xs font-black hover-shadow hover:bg-gradient-to-t hover:from-black hover:to-yellow-200 hover:bg-clip-text hover:text-transparent font-[Handel_Gothic]">
				Galaxy Status
			</a>
			<a href="game?page=communication" class="block rounded-md text-xs font-black hover-shadow hover:bg-gradient-to-t hover:from-black hover:to-yellow-200 hover:bg-clip-text hover:text-transparent font-[Handel_Gothic]">
				Messages
			</a>
			<a href="game?page=journal" class="block rounded-md text-xs font-black hover-shadow hover:bg-gradient-to-t hover:from-black hover:to-yellow-200 hover:bg-clip-text hover:text-transparent font-[Handel_Gothic]">
				Journal
			</a>
			<a href="game?page=politics" class="block rounded-md text-xs font-black hover-shadow hover:bg-gradient-to-t hover:from-black hover:to-yellow-200 hover:bg-clip-text hover:text-transparent font-[Handel_Gothic]">
				Politics
			</a>
			<a href="game?page=irc" class="block rounded-md text-xs font-black hover-shadow hover:bg-gradient-to-t hover:from-black hover:to-yellow-200 hover:bg-clip-text hover:text-transparent font-[Handel_Gothic]">
				Web IRC
			</a>
			<br class="block mt-3" />
			<a href="game?page=research" class="block rounded-md text-xs font-black hover-shadow hover:bg-gradient-to-t hover:from-black hover:to-yellow-200 hover:bg-clip-text hover:text-transparent font-[Handel_Gothic]">
				Research
			</a>
			<a href="game?page=construction" class="block rounded-md text-xs font-black hover-shadow hover:bg-gradient-to-t hover:from-black hover:to-yellow-200 hover:bg-clip-text hover:text-transparent font-[Handel_Gothic]">
				Construction
			</a>
			<a href="game?page=resources" class="block rounded-md text-xs font-black hover-shadow hover:bg-gradient-to-t hover:from-black hover:to-yellow-200 hover:bg-clip-text hover:text-transparent font-[Handel_Gothic]">
				Resources
			</a>
			<br class="block mt-3" />
			<a href="game?page=production" class="block rounded-md text-xs font-black hover-shadow hover:bg-gradient-to-t hover:from-black hover:to-yellow-200 hover:bg-clip-text hover:text-transparent font-[Handel_Gothic]">
				Shipyard
			</a>
			<a href="game?page=sds" class="block rounded-md text-xs font-black hover-shadow hover:bg-gradient-to-t hover:from-black hover:to-yellow-200 hover:bg-clip-text hover:text-transparent font-[Handel_Gothic]">
				SDS
			</a>
			<a href="game?page=spy" class="block rounded-md text-xs font-black hover-shadow hover:bg-gradient-to-t hover:from-black hover:to-yellow-200 hover:bg-clip-text hover:text-transparent font-[Handel_Gothic]">
				Scan Control
			</a>
			<a href="game?page=fleet" class="block rounded-md text-xs font-black hover-shadow hover:bg-gradient-to-t hover:from-black hover:to-yellow-200 hover:bg-clip-text hover:text-transparent font-[Handel_Gothic]">
				Fleet Control
			</a>
			<br class="block mt-3" />					
			<a href="game?page=affairs" class="block rounded-md text-xs font-black hover-shadow hover:bg-gradient-to-t hover:from-black hover:to-yellow-200 hover:bg-clip-text hover:text-transparent font-[Handel_Gothic]">
				Affairs
			</a>
			<a href="game?page=galaxy" class="block rounded-md text-xs font-black hover-shadow hover:bg-gradient-to-t hover:from-black hover:to-yellow-200 hover:bg-clip-text hover:text-transparent font-[Handel_Gothic]">
				Galaxy
			</a>
			<a href="game?page=top100" class="block rounded-md text-xs font-black hover-shadow hover:bg-gradient-to-t hover:from-black hover:to-yellow-200 hover:bg-clip-text hover:text-transparent font-[Handel_Gothic]">
				Universe
			</a>
			<a href="game?page=uni_politics" class="block rounded-md text-xs font-black hover-shadow hover:bg-gradient-to-t hover:from-black hover:to-yellow-200 hover:bg-clip-text hover:text-transparent font-[Handel_Gothic]">
				Universal Politics
			</a>
			<br class="block mt-3" />
			<a href="game?page=alliance" class="block rounded-md text-xs font-black hover-shadow hover:bg-gradient-to-t hover:from-black hover:to-yellow-200 hover:bg-clip-text hover:text-transparent font-[Handel_Gothic]">
				Alliances
			</a>
			<a href="game?page=preferences" class="block rounded-md text-xs font-black hover-shadow hover:bg-gradient-to-t hover:from-black hover:to-yellow-200 hover:bg-clip-text hover:text-transparent font-[Handel_Gothic]">
				Preferences
			</a>
			<a href="game?page=logout" class="block rounded-md text-xs font-black hover-shadow hover:bg-gradient-to-t hover:from-black hover:to-yellow-200 hover:bg-clip-text hover:text-transparent font-[Handel_Gothic]">
				Logout
			</a>
			<br class="block mt-3" />
			<a href="game?page=shipstats" class="block rounded-md text-xs font-black hover-shadow hover:bg-gradient-to-t hover:from-black hover:to-yellow-200 hover:bg-clip-text hover:text-transparent font-[Handel_Gothic]">
				Ship Stats
			</a>
			<a href="game?page=techtree" class="block rounded-md text-xs font-black hover-shadow hover:bg-gradient-to-t hover:from-black hover:to-yellow-200 hover:bg-clip-text hover:text-transparent font-[Handel_Gothic]">
				Tech Tree
			</a>
			<a href="#" class="block rounded-md text-xs font-black hover-shadow hover:bg-gradient-to-t hover:from-black hover:to-yellow-200 hover:bg-clip-text hover:text-transparent font-[Handel_Gothic]">
				Manual
			</a>
		</nav>
	</div>
</div>