<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Planetia</title>
		<style>
			.hover-shadow:hover {
				text-shadow: 0 0 5px rgba(255, 255, 185, 0.8), 0 0 5px rgba(255, 255, 185, 0.6), 0 0 5px rgba(255, 255, 185, 0.4);
			}
		</style>

		{% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
	</head>
	{% block body %}
	{% endblock %}
</html>